h2
{
    background-color: aqua;
    color: blue;
   /* border-bottom-width: 5px;
    border-style: solid;
    border-color: black; 
     border-radius: 5px;*/

    border: 5px solid black; 
    padding: 50px 70px 120px 150px;   
    margin-left: 50px;
}